body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  background-color: #aab;
  color: #125;
}

h1, h3 {
  margin: 1em;
}

input[type=number], input[type=color] {
  width: 3em;
  height: 1.5em;
  background-color: #ddd;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

input[type=submit] {
  border-radius: 10px;
  color: #125;
  font-weight: bold;
  padding: 5px;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #8ad;
  cursor: pointer;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 5px solid #125;
}

td {
  background-color: #fff;
  border: 1px solid #000;
  width: 15px;
  height: 15px;
}
